@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap");

Img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: #a73030;
  font-weight: bolder;
}

.navbar-custom {
  background-color: #d03b40;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
}

.section1 {
  background-image: url("aessets/Fondo1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  color: white;
  background-color: white;
  border: solid;
  border-width: 10px;
}

.title1 {
  color: white;
  max-width: 300px;
  text-align: center;

  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.paragraph1 {
  color: white;
  max-width: 600px;
  margin: 1em;
  text-align: center;
}

.section2 {
  display: flex;
  min-height: 300px;
  width: 100%;
}

.redSection {
  background-color: #d03b40;
  color: #f5f0ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.lightSection {
  background-color: #ded6c0;
  color: #a73030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.h3tittle {
  width: 70%;
  text-align: center;
  font-weight: bold;
}

.h5tittle {
  width: 70%;
  text-align: center;
  font-weight: bold;
  color: #241d1b;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.pharagraphSection3 {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .section2 {
    flex-direction: column;
  }

  .redSection,
  .lightSection {
    padding: 2em;
    width: 100%;
  }
}

.section3 {
  background-image: url("aessets/Fondo2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 2px;
  padding: 0.7em;
}

button:hover {
  scale: 1.1;
  transition: 0.5s;
}

/* SECCIÓN 4 */

.section4 {
  background-color: #eaeaea;

  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.infoBox {
  background-color: #eaeaea;
  /* font-weight: bolder; */
  width: 50%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.descriptions {
  padding: 1em;
}

.icon {
  background-position: cover;
  /* width: 50%; */
  height: 10em;
}

.h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

@media screen and (max-width: 820px) {
  .section4 {
    flex-direction: column;
    /* flex-wrap: none; */
  }

  .infoBox {
    width: 100vw;
  }
}

@media screen and (max-width: 500px) {
  .infoBox {
    flex-direction: column;
  }
}

.linkNavbar:link {
  color: white;
  text-decoration: none;
}